{% extends "base.html" %}
{% load tailwind_filters %}

{% block content %}
    <div class="max-w-md mx-auto mt-20">
        <form action="" method="post">
            {% csrf_token %}
            {% if form.email.errors %}
                {{ form.email.errors }}
            {% endif %}
            {{ form|crispy }}
            <button class="w-full text-white bg-blue-400 hover:bg-blue-500 px-3 py-2 rounded-lg" type="submit">
                Reset password
            </button>
        </form>
    </div>
{% endblock %}